nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33vh;
}
nav>img{
    width: 60%;
    height: 80%;
}
#scroll{
    color: #46989e;
    font-size: xx-large;
    display: inline-block;
    font-weight: bolder;
}
